In [1]:
# import libraries
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree  import DecisionTreeRegressor

In [2]:
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('canada_per_capita_income.csv')
df

    year  per capita income (US$)
0   1970              3399.299037
1   1971              3768.297935
2   1972              4251.175484
3   1973              4804.463248
4   1974              5576.514583
5   1975              5998.144346
6   1976              7062.131392
7   1977              7100.126170
8   1978              7247.967035
9   1979              7602.912681
10  1980              8355.968120
11  1981              9434.390652
12  1982              9619.438377
13  1983             10416.536590
14  1984             10790.328720
15  1985             11018.955850
16  1986             11482.891530
17  1987             12974.806620
18  1988             15080.283450
19  1989             16426.725480
20  1990             16838.673200
21  1991             17266.097690
22  1992             16412.083090
23  1993             15875.586730
24  1994             15755.820270
25  1995             16369.317250
26  1996             16699.826680
27  1997             17310.757750
28  1998             16622.671870
29  1999             17581.024140
30  2000             18987.382410
31  2001             18601.397240
32  2002             19232.175560
33  2003             22739.426280
34  2004             25719.147150
35  2005             29198.055690
36  2006             32738.262900
37  2007             36144.481220
38  2008             37446.486090
39  2009             32755.176820
40  2010             38420.522890
41  2011             42334.711210
42  2012             42665.255970
43  2013             42676.468370
44  2014             41039.893600
45  2015             35175.188980
46  2016             34229.193630

In [5]:
df.head(10)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583
5  1975              5998.144346
6  1976              7062.131392
7  1977              7100.126170
8  1978              7247.967035
9  1979              7602.912681

In [6]:
df.tail(10)

    year  per capita income (US$)
37  2007              36144.48122
38  2008              37446.48609
39  2009              32755.17682
40  2010              38420.52289
41  2011              42334.71121
42  2012              42665.25597
43  2013              42676.46837
44  2014              41039.89360
45  2015              35175.18898
46  2016              34229.19363

In [7]:
df.shape

(47, 2)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     47 non-null     int64
 1   per capita income (US$)  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 884.0 bytes

In [8]:
df.describe()

              year  per capita income (US$)
count    47.000000                47.000000
mean   1993.000000             18920.137063
std      13.711309             12034.679438
min    1970.000000              3399.299037
25%    1981.500000              9526.914515
50%    1993.000000             16426.725480
75%    2004.500000             27458.601420
max    2016.000000             42676.468370

In [10]:
df.isnull().sum()

year                       0
per capita income (US$)    0
dtype: int64

In [28]:
X = df.drop(columns = ['per capita income (US$)'])
Y = df['per capita income (US$)']

In [29]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size =0.15)

In [30]:
X_train

    year
38  2008
20  1990
37  2007
43  2013
41  2011
36  2006
12  1982
1   1971
4   1974
24  1994
16  1986
9   1979
27  1997
11  1981
8   1978
23  1993
17  1987
35  2005
10  1980
34  2004
44  2014
6   1976
30  2000
18  1988
45  2015
5   1975
26  1996
0   1970
39  2009
46  2016
25  1995
40  2010
19  1989
2   1972
14  1984
7   1977
29  1999
33  2003
13  1983

In [31]:
X_test.shape

(8, 1)

In [32]:
Y_train.shape

(39,)

In [33]:
Y_test.shape

(8,)

In [34]:
model_linear = LinearRegression()
model_tree = DecisionTreeRegressor()

In [37]:
model_tree.fit(X_train,Y_train)

DecisionTreeRegressor()

In [38]:
model_linear.fit(X_train,Y_train)

LinearRegression()

In [41]:
model_tree.predict([[1920]])

array([3399.299037])

In [44]:
model_tree.score(X_train,Y_train)

1.0

In [46]:
model_linear.predict([[1920]])

array([-41609.59252871])

In [47]:
model_linear.score(X_train,Y_train)

0.912931560567746